USE [Online_Agri]
GO
/****** Object:  Table [dbo].[Add_Product]    Script Date: 02/07/2021 5:28:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Add_Product](
	[pid] [int] IDENTITY(1,1) NOT NULL,
	[shopid] [int] NULL,
	[pname] [nvarchar](max) NULL,
	[prate] [int] NULL,
	[describe] [nvarchar](max) NULL,
	[photo] [nvarchar](max) NULL,
	[mrp] [nvarchar](max) NULL,
	[stock] [int] NULL,
 CONSTRAINT [PK_Add_Product] PRIMARY KEY CLUSTERED 
(
	[pid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Add_Shop]    Script Date: 02/07/2021 5:28:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Add_Shop](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[shop_name] [nvarchar](max) NULL,
	[owner] [nvarchar](max) NULL,
	[contact] [nvarchar](50) NULL,
	[address] [nvarchar](max) NULL,
	[description] [nvarchar](max) NOT NULL,
	[photo] [nvarchar](max) NULL,
	[username] [nvarchar](max) NULL,
	[pwd] [nvarchar](max) NULL,
	[cpwd] [nvarchar](max) NULL,
	[status] [nvarchar](max) NULL,
 CONSTRAINT [PK_Add_Shop] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[book_order]    Script Date: 02/07/2021 5:28:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[book_order](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NULL,
	[r_name] [nvarchar](max) NULL,
	[address] [nvarchar](max) NULL,
	[contact] [nvarchar](50) NULL,
	[total] [nvarchar](max) NULL,
	[status] [nvarchar](50) NULL,
	[tdate] [nvarchar](50) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[order_product]    Script Date: 02/07/2021 5:28:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[order_product](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[pid] [int] NULL,
	[user_id] [int] NULL,
	[pname] [nvarchar](max) NULL,
	[prate] [nvarchar](max) NULL,
	[describe] [nvarchar](max) NULL,
	[photo] [nvarchar](max) NULL,
	[mrp] [nvarchar](max) NULL,
	[shopid] [int] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Registration]    Script Date: 02/07/2021 5:28:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Registration](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](max) NULL,
	[email] [nvarchar](max) NULL,
	[pwd] [nvarchar](max) NULL,
	[cpwd] [nvarchar](max) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Temp]    Script Date: 02/07/2021 5:28:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Temp](
	[pid] [int] NOT NULL,
	[shopid] [int] NULL,
	[pname] [nvarchar](max) NULL,
	[prate] [int] NULL,
	[describe] [nvarchar](max) NULL,
	[photo] [nvarchar](max) NULL,
	[mrp] [nvarchar](max) NULL,
	[stock] [int] NULL,
	[user_id] [int] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[Add_Product] ON 

INSERT [dbo].[Add_Product] ([pid], [shopid], [pname], [prate], [describe], [photo], [mrp], [stock]) VALUES (1, 1, N'Onion', 20, N'Freesh and healthy', N'Cap.jpg', N'30', 9)
INSERT [dbo].[Add_Product] ([pid], [shopid], [pname], [prate], [describe], [photo], [mrp], [stock]) VALUES (3, 1, N'Totmato', 30, N'Special  and tasty', N'Capture5.JPG', N'40', 9)
INSERT [dbo].[Add_Product] ([pid], [shopid], [pname], [prate], [describe], [photo], [mrp], [stock]) VALUES (4, 1, N'Potato', 40, N'best in your budget', N'Capture6.JPG', N'45', 10)
SET IDENTITY_INSERT [dbo].[Add_Product] OFF
SET IDENTITY_INSERT [dbo].[Add_Shop] ON 

INSERT [dbo].[Add_Shop] ([id], [shop_name], [owner], [contact], [address], [description], [photo], [username], [pwd], [cpwd], [status]) VALUES (1, N'Online Agri Store', N'Puja ', N'8956235566', N'Ravi Nagar, Chandrapur', N'faster and good Service', N'unnamed.jpg', N'puja', N'p123', N'p123', N'yes')
SET IDENTITY_INSERT [dbo].[Add_Shop] OFF
SET IDENTITY_INSERT [dbo].[Registration] ON 

INSERT [dbo].[Registration] ([id], [name], [email], [pwd], [cpwd]) VALUES (1, N'Raman Sinha', N'ramansinha@gmail.com', N'r123', N'r123')
INSERT [dbo].[Registration] ([id], [name], [email], [pwd], [cpwd]) VALUES (2, N'Trupti Patel', N'truptip@gmail.com', N't123', N't123')
SET IDENTITY_INSERT [dbo].[Registration] OFF
